<!DOCTYPE html>
<html lang="en">
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D1NXRMPMY9"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-D1NXRMPMY9');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>
		@media only screen and (max-width: 600px) {
			#chart-div {
				width: 100%;
				height: 300px;
			}
		}

		@media only screen and (min-width: 601px) and (max-width: 900px) {
			#chart-div {
				width: 100%;
				height: 400px;
			}
		}

		@media only screen and (min-width: 901px) {
			#chart-div {
				width: 800px;
				height: 500px;
			}
		}
	</style>
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        &copy; Powered by Marcin Popko
    </footer>
</body>
</html>
