{% block content %}
<div class="row"> <!-- Current number of people -->

    <!-- Small -->
    <div class="col-xxl-4 col-md-6">

      <div class="card info-card customers-card">

        <div class="card-body">
          <h5 class="card-title">Pływalnia kameralna <span>| Teraz 
            <!-- red colour if over 80% occupacy -->
            <span class={% if small_percent < 80 %}
            "text-success small pt-1"
            {% else %}
            "text-danger small pt-1"
            {% endif %}>
            {{small_percent}}%</span> zajęte</span>
          <!-- Basic Modal -->
          <button type="button" class="about_btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
            Info
          </button>
          <div class="modal fade" id="basicModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Basic Modal</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Non omnis incidunt qui sed occaecati magni asperiores est mollitia. Soluta at et reprehenderit. Placeat autem numquam et fuga numquam. Tempora in facere consequatur sit dolor ipsum. Consequatur nemo amet incidunt est facilis. Dolorem neque recusandae quo sit molestias sint dignissimos.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div><!-- End Basic Modal-->
          <style>
            .about_btn {
                margin-left: 10px;
            }
        </style>
          </h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="fas fa-swimmer"></i>
            </div>
            <div class="ps-3">
              <h6>{{lastsmall}}</h6>
              <span class="text small pt-1 fw-bold">30</span><span class="text-muted small pt-2 ps-1">osób max</span>

            </div>
          </div>
        </div>
      </div> 
    </div><!-- End Small --> 

    <!-- Sport -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sales-card">
        <div class="card-body">
          <h5 class="card-title">Pływalnia sportowa <span>| Teraz 
          <!-- red colour if over 80% occupacy -->
            <span class={% if sport_percent < 80 %}
            "text-success small pt-1"
            {% else %}
            "text-danger small pt-1"
            {% endif %}>
            {{sport_percent}}%</span> zajęte</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="fas fa-swimmer"></i>
            </div>
            <div class="ps-3">
              <h6>{{lastsport}}</h6>
              <span class="text small pt-1 fw-bold">105</span><span class="text-muted small pt-2 ps-1">osób max</span>
            </div>
          </div>
        </div>

      </div>
    </div><!-- End Sport -->

    <!-- Family -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card revenue-card"> 
        <div class="card-body">
          <h5 class="card-title">Pływalnia rodzinna <span>| Teraz 
            <!-- red colour if over 80% occupacy -->
            <span class={% if family_percent < 80 %}
            "text-success small pt-1"
            {% else %}
            "text-danger small pt-1"
            {% endif %}>
            {{family_percent}}%</span> zajęte</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="fas fa-swimmer"></i>
            </div>
            <div class="ps-3">
              <h6>{{lastfamily}}</h6>
              <span class="text small pt-1 fw-bold">150</span><span class="text-muted small pt-2 ps-1">osób max</span>

            </div>
          </div>
        </div>

      </div>
    </div><!-- End Family -->

        <!-- Sport -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card feedback-card">
            <div class="card-body">
              <h5 class="card-title">Pomysły, uwagi?</h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="ri-chat-poll-line"></i>
                </div>
                <div class="ps-3">
                  <h6><a href="https://forms.gle/CGzzGs8PKedTDJXc9" target="_blank">Wypełnij ankietę!</a></h6>
                  <span class="text small pt-1 fw-bold"><a href="https://forms.gle/CGzzGs8PKedTDJXc9" target="_blank"><b>Ankieta</b></a></span>
                </div>
              </div>
            </div>
    
          </div>
        </div><!-- End Sport -->

                <!-- Sport -->
                <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                    <div class="card-body">
                      <h5 class="card-title">Bądź na bieżąco</h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <a href="https://www.facebook.com/basenbialystok/" target="_blank"><i class="ri-facebook-box-fill"></i></a>
                        </div>
                        <div class="ps-3">
                          <h6><a href="https://www.facebook.com/basenbialystok/" target="_blank">Polub nas na FB!</a></h6>
                          <span class="text small pt-1 fw-bold"><a href="https://www.facebook.com/basenbialystok/" target="_blank"><b>Facebook</b></a></span>
                        </div>
                      </div>
                    </div>
            
                  </div>
                </div><!-- End Sport -->

  </div> <!-- End current number of people -->
  {% endblock %}