{% block content %}
<div class="row"> <!-- Current number of people -->

    <!-- Small -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card small-card">
        <div class="card-body">
          <h5 class="card-title">Pływalnia kameralna <span>| Teraz 
            <!-- red colour if over 80% occupacy -->
            <span class={% if small_percent < 80 %}
            "text-success small pt-1"
            {% else %}
            "text-danger small pt-1"
            {% endif %}>
            {{small_percent}}%</span> zajęte</span>
          </h5>
          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#verticalycentered">
              <i class="fas fa-swimmer"></i>
            </div>
            <div class="ps-3">
              <h6>{{lastsmall}}</h6>
              <span class="text small pt-1 fw-bold">30</span><span class="text-muted small pt-2 ps-1">osób max</span>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- End Small --> 
    <!-- Sport -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card sport-card">
        <div class="card-body">
          <h5 class="card-title">Pływalnia sportowa <span>| Teraz 
          <!-- red colour if over 80% occupacy -->
            <span class={% if sport_percent < 80 %}
            "text-success small pt-1"
            {% else %}
            "text-danger small pt-1"
            {% endif %}>
            {{sport_percent}}%</span> zajęte</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="fas fa-swimmer"></i>
            </div>
            <div class="ps-3">
              <h6>{{lastsport}}</h6>
              <span class="text small pt-1 fw-bold">105</span><span class="text-muted small pt-2 ps-1">osób max</span>
            </div>
          </div>
        </div>

      </div>
    </div><!-- End Sport -->

    <!-- Family -->
    <div class="col-xxl-4 col-md-6">
      <div class="card info-card family-card"> 
        <div class="card-body">
          <h5 class="card-title">Pływalnia rodzinna <span>| Teraz 
            <!-- red colour if over 80% occupacy -->
            <span class={% if family_percent < 80 %}
            "text-success small pt-1"
            {% else %}
            "text-danger small pt-1"
            {% endif %}>
            {{family_percent}}%</span> zajęte</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="fas fa-swimmer"></i>
            </div>
            <div class="ps-3">
              <h6>{{lastfamily}}</h6>
              <span class="text small pt-1 fw-bold">150</span><span class="text-muted small pt-2 ps-1">osób max</span>

            </div>
          </div>
        </div>

      </div>
    </div><!-- End Family -->

        <!-- Ice -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card ice-card"> 
            <div class="card-body">
              <h5 class="card-title">Lodowisko <span>| Teraz 
                <!-- red colour if over 80% occupacy -->
                <span class={% if ice_percent < 80 %}
                "text-success small pt-1"
                {% else %}
                "text-danger small pt-1"
                {% endif %}>
                {{ice_percent}}%</span> zajęte</span></h5>
    
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="fas fa-skating"></i>
                </div>
                <div class="ps-3">
                  <h6>{{lastice}}</h6>
                  <span class="text small pt-1 fw-bold">300</span><span class="text-muted small pt-2 ps-1">osób max</span>
    
                </div>
              </div>
            </div>
    
          </div>
        </div><!-- End Ice -->

        <!-- Feedback -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card feedback-card">
            <div class="card-body">
              <h5 class="card-title">Pomysły, uwagi?</h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="ri-chat-poll-line"></i>
                </div>
                <div class="ps-3">
                  <h6><a href="https://forms.gle/CGzzGs8PKedTDJXc9" target="_blank">Wypełnij ankietę!</a></h6>
                  <span class="text small pt-1 fw-bold"><a href="https://forms.gle/CGzzGs8PKedTDJXc9" target="_blank"><b>Ankieta</b></a></span>
                </div>
              </div>
            </div>
    
          </div>
        </div><!-- End Feedback -->

        <!-- Fb -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card fb-card">
            <div class="card-body">
              <h5 class="card-title">Bądź na bieżąco</h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <a href="https://www.facebook.com/basenbialystok/" target="_blank"><i class="ri-facebook-box-fill"></i></a>
                </div>
                <div class="ps-3">
                  <h6><a href="https://www.facebook.com/basenbialystok/" target="_blank">Polub nas na FB!</a></h6>
                  <span class="text small pt-1 fw-bold"><a href="https://www.facebook.com/basenbialystok/" target="_blank"><b>Facebook</b></a></span>
                </div>
              </div>
            </div>
    
          </div>
        </div><!-- End Fb -->

  </div> <!-- End current number of people -->



  {% include 'small.html' %}
  {% endblock %}