{% block content %}
<div class="card basic">
  <div class="card-body">
    <h5 class="card-title">Pytania i odpowiedzi</h5>

    <div>
      <h6>1. Jak przybliżyć wykres?</h6>
      <p>Przybliżenie funkcjonuje przez kliknięcie na wykresie i przeciągnięcie na żądanym fragmencie czasu. Cofnięcie przybliżenia realizowane jest przez kliknięcie prawym przyciskiem myszy na wykresie. 
        Funkcja obecnie nie działa na urządzeniach mobilnych, na "mobilkach" natomiast można przełączyć wykres w tryb pełnoekranowy przez kliknięcie w ikonę w prawym górnym rogu.</p>
    </div>

    <div class="pt-2">
      <h6>2. Jak wybrać inny dzień tygodnia dla danych statycznych zajętości?</h6>
      <p>Domyślnie wyświetlany jest bieżący dzień. Po kliknięciu w prawym górnym rogu na wykresie na "wybierz dzień tygodnia" lub symbolu ... (na urządzeniach mobilnych) pokaże się lista dni do wyboru.</p>
    </div>

    <div class="pt-2">
      <h6>3. Gdzie mogę zgłosić sugestie/uwagi do tej strony?</h6>
      <p>Ankieta znajduje się pod tym <a href="https://forms.gle/CGzzGs8PKedTDJXc9" target="_blank"><b>linkiem</b></a>.</p>
    </div>

  </div>
</div>
{% endblock %}