{% block content %}
<div class="col-12"> <!-- Live chart section start -->
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Dzisiaj <span>| Ostatnia aktualizacja: {{ lastdate }}</span></h5>

        <!-- Line Chart -->
        <div id="reportsChart"></div>

        <script>
          document.addEventListener("DOMContentLoaded", () => {
            const colors = ['#ff771d', '#4154f1', '#2eca6a'];
            const chart = new ApexCharts(document.querySelector("#reportsChart"), {
              series: [
              {
                name: 'Kameralna',
                data:  {{ small|safe }}
              }, {
                name: 'Sportowa',
                data: {{ sport|safe }}
              }, {
                name: 'Rodzinna',
                data: {{ family|safe }}
              }],
              chart: {
                height: 350,
                type: 'area',
                toolbar: {
                  show: false
                },
                events: {
                  legendClick: function(chartContext, seriesIndex, config) {
                    const annotations = chartContext.w.config.annotations.yaxis || [];
                    const seriesAnnotation = annotations.find(annotation => annotation.seriesIndex === seriesIndex);
                    if (seriesAnnotation) {
                      // remove the annotation if it exists
                      chartContext.updateOptions({
                        annotations: {
                          yaxis: annotations.filter(annotation => annotation.seriesIndex !== seriesIndex)
                        }
                      });
                    } else {
                      // add a new annotation for the series
                      const newAnnotation = [
                      {
                        seriesIndex: 0,
                        y: 30,
                        borderColor: colors[0],
                        borderWidth: 2,
                      },
                      {
                        seriesIndex: 1,
                        y: 105,
                        borderColor: colors[1],
                        borderWidth: 2
                      },
                      {
                        seriesIndex: 2,
                        y: 150,
                        borderColor: colors[2],
                        borderWidth: 2
                      }];
                      chartContext.updateOptions({
                        annotations: {
                          yaxis: [...annotations, newAnnotation[seriesIndex]]
                        }
                      });
                    }
                  }
                }
              },
              markers: {
                size: 2.5
              },
              colors: [colors[0], colors[1], colors[2]],
              fill: {
                type: "gradient",
                gradient: {
                  shadeIntensity: 1,
                  opacityFrom: 0.3,
                  opacityTo: 0.4,
                  stops: [0, 90, 100]
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth',
                width: 2
              },
              xaxis: {
                type: 'datetime',
                categories: {{date|safe}}
              },
              annotations: {
                    yaxis: [
                    {
                        seriesIndex: 0,
                        y: 30,
                        borderColor: colors[0],
                        borderWidth: 2,
                      },
                      {
                        seriesIndex: 1,
                        y: 105,
                        borderColor: colors[1],
                        borderWidth: 2
                      },
                      {
                        seriesIndex: 2,
                        y: 150,
                        borderColor: colors[2],
                        borderWidth: 2
                      }
                    ],
              },
              tooltip: {
                x: {
                  format: 'dd/MM/yy HH:mm'
                }
              }
            });
            chart.render();
            document.querySelector("#reportsChart").addEventListener("contextmenu", (e) => {
                e.preventDefault(); // prevent default context menu from showing
                chart.resetSeries(); // reset zoom level
            }); 
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div><!-- End of live chart section  -->
  {% endblock %}