{% block content %}
<div class="col-12"> <!-- Start mean stats chart -->
    <div class="card">
        <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown">Wybierz dzień tygodnia</a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
            </li>  
            <li><a class="dropdown-item" id="stats0">Poniedziałek</a></li>
            <li><a class="dropdown-item" id="stats1">Wtorek</a></li>
            <li><a class="dropdown-item" id="stats2">Środa</a></li>
            <li><a class="dropdown-item" id="stats3">Czwartek</a></li>
            <li><a class="dropdown-item" id="stats4">Piątek</a></li>
            <li><a class="dropdown-item" id="stats5">Sobota</a></li>
            <li><a class="dropdown-item" id="stats6">Niedziela</a></li>
        </ul>
        </div>

        <div class="card-body">
        <h5 class="card-title">Średnia z dnia tygodnia <span id="today"> {{today}}</span></h5>

        <!-- Line Chart -->
        <div id="reportsChart2"></div>

        <script>
            document.addEventListener("DOMContentLoaded", () => {
            const colors = ['#ff771d', '#4154f1', '#2eca6a'];
            const chart2 = new ApexCharts(document.querySelector("#reportsChart2"), {
                series: [
                {
                    name: 'Kameralna',
                    data:  {{ small_stat|safe }}
                }, {
                    name: 'Sportowa',
                    data: {{ sport_stat|safe }}
                }, {
                    name: 'Rodzinna',
                    data: {{ family_stat|safe }}
                }],
                chart: {
                height: 350,
                type: 'area',
                toolbar: {
                    show: false
                },
                },
                markers: {
                size: 4
                },
                colors: [colors[0], colors[1], colors[2]],
                fill: {
                type: "gradient",
                gradient: {
                    shadeIntensity: 1,
                    opacityFrom: 0.3,
                    opacityTo: 0.4,
                    stops: [0, 90, 100]
                }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'smooth',
                    width: 2
                },
                yaxis: {
                    max: 160
                },
                xaxis: {
                    type: 'time',
                    tickAmount: 16, // Set the number of ticks to be displayed
                    tickInterval: 'hour', // Set the tick interval to be one hour
                    categories: {{date_stat|safe}}
                },
                annotations: {
                    yaxis: [
                        {
                        y: 30,
                        borderColor: '#ff771d',
                        borderWidth: 2,
                        },
                        {
                        y: 105,
                        borderColor: '#4154f1',
                        borderWidth: 2
                        },
                        {
                        y: 150,
                        borderColor: '#2eca6a',
                        borderWidth: 2
                        },
                    ],
                    xaxis: [
                        {
                        x: new Date().getTime(),
                        borderColor: '#775DD0',
                        borderWidth: 2
                        }
                    ]
                },
                tooltip: {
                    x: {
                        format: 'HH:mm'
                    }
                }
            });
            chart2.render();
            document.querySelector("#reportsChart2").addEventListener("contextmenu", (e) => {
                e.preventDefault(); // prevent default context menu from showing
                chart2.resetSeries(); // reset zoom level
            });
            function handleButtonClick(event) {
                const buttonId = event.target.id;
                fetch(`/update_chart/${buttonId}`)
                    .then(response => response.json())
                    .then(data => {
                        // update chart with new data and options
                        const currentDate = data.today;
                        const todayElement = document.querySelector('#today');
                        todayElement.textContent = currentDate;
                        chart2.updateOptions({
                                chart: {
                                    animations: {
                                        enabled: true,
                                        easing: 'easeinout',
                                        speed: 1000
                                    }
                                },
                                xaxis: {
                                    type: 'time',
                                    tickAmount: 16, // Set the number of ticks to be displayed
                                    tickInterval: 'hour', // Set the tick interval to be one hour
                                    categories: data.date_stat
                                }
                            });
                        chart2.updateSeries([
                                {
                                    name: 'Kameralna',
                                    data: data.small_stat
                                },
                                {
                                    name: 'Sportowa',
                                    data: data.sport_stat
                                },
                                {
                                    name: 'Rodzinna',
                                    data: data.family_stat
                                }
                                ], animate = true);
                        });
            }
            const buttons = document.querySelectorAll('.dropdown-item');
            buttons.forEach(button => button.addEventListener('click', handleButtonClick));
            }); 
        </script>
        <!-- End Line Chart -->
        </div>
    </div> <!-- End mean stats chart -->
</div>
{% endblock %}