# Database (PostgreSQL)
DB_NAME=pooltracker
DB_USER=pooltracker_user
DB_PASSWORD=ZMIEN_TO_NA_SILNE_HASLO
DB_HOST=db
DB_PORT=5432

# Django
SECRET_KEY=ZMIEN_TO_NA_LOSOWY_KLUCZ_MIN_50_ZNAKOW
DJANGO_DEBUG=False

# External APIs
OPENWEATHER_API_KEY=
GEMINI_API_KEY=

# Optional
DONATION_LIST_PATH=donors.json
GODMODE_EMAIL=admin@yourdomain.com
BUYCOFFEE_URL=https://buycoffee.to/basen.bialystok.pl
